<form class="deco" [formGroup]="form">

    <label for="oldPassword">Old Password</label>
    <input 
    formControlName="oldPassword"
    name = "oldPassword" 
    class = "form-control inputs" 
    type="text">
    <div *ngIf="oldPassword.touched && oldPassword?.errors?.['required']" class = "alert alert-danger">Field is required</div>
    <div *ngIf="oldPassword.touched && oldPassword?.errors?.['PasswordIncorrect']" class = "alert alert-danger">Old Password is Incorrect</div>
    <br>
    <label for="newPassword">New Password</label>
    <input 
    formControlName="newPassword"
    name = "newPassword" 
    class="form-control inputs" 
    type="text">
    <div *ngIf="newPassword.touched && newPassword?.errors?.['required']" class = "alert alert-danger">Field is required</div>
    <br>
    <label for="confirmPassword">Confirm Password</label>
    <input 
    formControlName="confirmPassword"
    name = "confirmPassword" 
    type="text" 
    class="form-control inputs">
    <div *ngIf="confirmPassword.touched && confirmPassword?.errors?.['required']" class = "alert alert-danger">Field is required</div>

    <div *ngIf="form?.errors?.['PasswordNotMatch']" class="alert alert-danger">Not Matching!!</div>

</form>
