<div class = "container">
<div class="p-3 mb-2 bg-light text-dark test">
    <h2 class = "col-10">Course</h2>
    <Button class = "btn btn-success button-class" (click) = "func1()">Click</Button>
</div>

<div *ngIf ="flag1" class="p-3 mb-2 bg-light text-dark row" >
    <h4>Course Content</h4>
</div>

<div class="p-3 mb-2 bg-light text-dark test">  
    <h2 class = "col-10">Billing</h2>
    <Button class = "btn btn-success button-class" (click) = "func2()">Click</Button>
</div>

<div *ngIf="flag2" class="p-3 mb-2 bg-light text-dark row">
    <h4>Billing Details</h4>
</div>

</div>